body{
	background-color:#FCFAF2;

}

#title{
	height: 90px;
	text-align: center;
	padding-top: 50px;
}

#title #name{
	font-family: 'Lobster Two', cursive;
	font-size: 36px;
	color: #C73E3A;
	opacity: 0.7;
}

#title #beta{	
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
	color: #C73E3A;
}

#filter_holder{
	text-align: center;
}

#filter_holder #update{	
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
	color: #C73E3A;
	opacity: 0.7;
}

h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 27px;
    letter-spacing: 0.3em;
	color: #C73E3A;
}

p {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	font-weight: 600;
	color: #373C38
}

p a{
	text-decoration: none;
	color: #b54c3c;
}
p a:hover{ 
	color: #707C74;
}


#pic_holder{
	margin: 0 auto;
	display: block;
	width: 400px;
	height: 400px;
	opacity: 0.8;
	border-radius: 15px;
	border:5px dashed #373C38;
	text-align: center;
}


#pic_holder canvas{
    margin: 0 auto;
    display: block;
	opacity: 1;
}

#pic_holder img{
	opacity: 0;
}

#info{
	text-transform: uppercase;
}

#filter_holder{
	width: 700px;
	margin: 30px auto;
	position: relative;
	display:none;
}


#filters{
	padding: 20px 20px 30px;
	border-radius: 8px;
	overflow: hidden;
	list-style: none;
	white-space: nowrap;
	overflow-x: scroll;
	margin-bottom: 100px;
}

#filters li{
	display:inline-block;
	margin:0 15px 0 0;
}

#filters a{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 130px;
	height: 130px;
	display: inline-block;
	position: relative;
	background: center top no-repeat;
	text-decoration: none !important;
	font-weight: bold;
	color: #373C38;
	line-height: 285px;
	text-align: center;
	font-size: 18px;
}

/*filters preivew*/
/*#filters li #normal{background-image:url('http://placekitten.com/g/130/130'); }*/
#filters li #normal{		background-image:url('img/normal.jpg'); }
#filters li #greyscale{		background-image:url('img/greyscale.png'); }
#filters li #threshold{		background-image:url('img/threshold.png'); }
#filters li #vintage{		background-image:url('img/vintage.png'); }
#filters li #lomo{			background-image:url('img/lomo.png'); }
#filters li #clarity{		background-image:url('img/clarity.png'); }
#filters li #sinCity{		background-image:url('img/sinCity.png'); }
#filters li #sunrise{		background-image:url('img/sunrise.png'); }
#filters li #crossProcess{	background-image:url('img/crossProcess.png'); }
#filters li #orangePeel{	background-image:url('img/orangePeel.png'); }
#filters li #love{			background-image:url('img/love.png'); }
#filters li #grungy{		background-image:url('img/grungy.png'); }
#filters li #jarques{		background-image:url('img/jarques.png'); }
#filters li #pinhole{		background-image:url('img/pinhole.png'); }
#filters li #oldBoot{		background-image:url('img/oldBoot.png'); }
#filters li #glowingSun{	background-image:url('img/glowingSun.png'); }
#filters li #hazyDays{		background-image:url('img/hazyDays.png'); }
#filters li #herMajesty{	background-image:url('img/herMajesty.png'); }
#filters li #nostalgia{		background-image:url('img/nostalgia.png'); }
#filters li #hemingway{		background-image:url('img/hemingway.png'); }
#filters li #concentrate{	background-image:url('img/concentrate.png'); }


#filters li a.active:before{
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0px;
	left: 0px;
	border:5px solid #373C38;
	
}


/*footer*/
footer {
   height: 40px;
   text-align:center; 
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: #373C38;
   opacity: 0.9;
   position: fixed;
 }

footer p a{
	color: #FCFAF2
}


footer p{
	font-size: 0.8em;
	color: #FCFAF2
}

footer p a:hover{
	color: #C73E3A
}

.left_footer{
	padding-left: 2em;
	float: left;
}

.right_footer{
	padding-right: 2em;
	float: right;
}

.right_footer a{
	color: #b54c3c
}
/*end of footer*/


/*layout for spell check page*/
#gbutton{
	background: #373C38;
	color: white;
	font-weight: 500;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	letter-spacing:1px;
	opacity:0.9;
}

#gbutton:hover{
	color: #D19826;
}

#input_holder{
	text-align: center;
	margin: 20px;
}

textarea{
	padding: 50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 27px;
	color: #373C38;
}

#dic{
	opacity: 0.9;
}

